@import '~@angular/material/theming';

@mixin navtabs-component-theme($theahotel) {

    $primary: map-get($theahotel, primary);
    $accent: map-get($theahotel, accent);

    //Put All Your Theming Styles Here
    .navtabs-container {
        background-color: mat-color($theahotel-primary, 500);
    }
}